<!--<h1> Material Tutorials </h1>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<app-header></app-header>
<mat-tab-group>
    <mat-tab label="Signup Page">
        <app-login></app-login>
    </mat-tab>
    <mat-tab label="User Details">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> User Id </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Map"> 
        <google-map height="400px"
        width="750px"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)">
<map-marker *ngFor="let markerPosition of markerPositions"
          [position]="markerPosition"
          [options]="markerOptions"></map-marker>
</google-map>
    </mat-tab>
</mat-tab-group>


<!--<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>UserId</td>
    </tr>
    <tr *ngFor = "let item of contents">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr>
</table>-->





<app-footer></app-footer>
