table {
    width: 100%;
  }

  body {
      background-color: #fafafa;
  }
  
  .mat-mdc-tab-group {
    min-height: 85%;
  }

  .mat-mdc-tab-body {
    padding: 25px;
  }

  agm-map {
    height: 300px;
  }